<div class="text-center ">
    <!-- Search form -->
    <mat-form-field>
        <input matInput placeholder="Github username" (keyup.enter)="search(user.value); user.value=''" #user>
        <mat-error *ngIf="error_text">{{ error_text }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search(user.value); user.value=''">Search</button>
    <!-- Card showing user  -->
    <div>
        <div *ngFor="let user of results" class="col">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><a href="{{user.html_url}}" target="_blank">{{user.login}}</a></mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{user.avatar_url}}" alt="User avatar">
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="getDetails(user.login)">DETAILS</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <!-- Card showing user details -->
    <div *ngIf="results.length && selected">
        <div class="box">
            <div class="details text-center">
                <mat-card class="card-bottom">
                    <mat-card-content class="text-left">
                        <div *ngIf="selectedUser.name">
                            <a href="{{ selectedUser.html_url }}" target="_blank">
                                <h3>{{ selectedUser.name}} </h3>
                            </a>
                        </div>
                        <mat-divider></mat-divider>

                        <mat-list role="list">

                            <mat-list-item role="listitem" *ngIf="selectedUser.blog">
                                <mat-icon>public</mat-icon> Blog: <a href="{{ selectedUser.blog }}" target="_blank"> {{ selectedUser.blog
                                    }}</a>
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.email">
                                <mat-icon>alternate_email</mat-icon> Email: {{ selectedUser.email }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.location">
                                <mat-icon>location_on</mat-icon> Location: {{ selectedUser.location }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.bio">
                                <mat-icon>fingerprint</mat-icon> Bio: {{ selectedUser.bio }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.updated_at">
                                <mat-icon>how_to_reg</mat-icon> Last Seen: {{ selectedUser.updated_at | date }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.public_repos">
                                <mat-icon>folder</mat-icon> Repos: {{ selectedUser.public_repos }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.public_gists">
                                <mat-icon>folder_shared</mat-icon> Gists: {{ selectedUser.public_gists }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.followers">
                                <mat-icon>group</mat-icon> Followers: {{ selectedUser.followers }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="selectedUser.created_at">
                                <mat-icon>person</mat-icon> Joined github: {{ selectedUser.created_at | date }}
                            </mat-list-item>

                        </mat-list>

                    </mat-card-content>

                    <button mat-raised-button color="accent" (click)="selected = !selected">HIDE</button>

                </mat-card>
            </div>
        </div>
    </div>
</div>