button {
    margin-left: 1em;
}

.text-center {
    text-align: center!important
}

.text-left {
    text-align: left!important
}


.card {
    margin: 10px;
    background-color: #23395B;
}

.card-bottom {
    background-color: #23395B;
}

.details{
    margin: 10px;
}

a {
    color: #CBF7ED;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    transition: 0.5s
}

a:hover {
    color: #406E8E;
    text-decoration: none;
    transition: 0.25s
}

img{
    border-radius: 1%
}

mat-icon{
    font-size: 1.5em;
    margin-right: 1em;
}

@media (min-width:768px) {
    .card{
        max-width: 20%;
        display: inline-block;
    }

    .details{
        max-width: 50%;
        display: inline-block;
    }

    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}